@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";
@import "./global.css";

/* Tailwind must come AFTER imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base sizing */
html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}